streamlit
pandas
requests
python-dotenv
fastapi
pydantic

# LangChain
langchain

# Groq LLM
langchain-groq
# HuggingFace embeddings
sentence-transformers
transformers
torch

# Optional: for vectorstores
langchain-core
python-dotenv
